<table cellspacing="2" cellpadding="4" border="0" width="100%">
    <tr>
      <td valign="top" width="45%"><p><img height="150" src="0.gif" width="250"></p>
        <p><img height="100" hspace="5" src="0.gif" width="100" align="left" border="0">□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□<br />
          <br />
          <img height="100" hspace="5" src="0.gif" width="100" align="left" border="0">□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□<br />
        </p></td>
      <td valign="top" width="55%"><p>·□□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□<br />
          · □□□□□□□□□□□□□□□□□□□□□</p></td>
    </tr>
</table>