<table cellspacing="2" cellpadding="4" border="0" width="100%">
    <tr>
      <td valign="top" width="50%"><img height="152" hspace="6" src="0.gif" width="271" align="left" vspace="4" border="0">
        <p> □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□<br />
        </p></td>
    </tr>
</table>
<br />
<table cellspacing="1" cellpadding="1" border="0" width="100%">
    <tr>
      <td align="middle"><img height="86" hspace="5" src="0.gif" width="97" border="0"></td>
      <td align="middle"><img height="86" hspace="5" src="0.gif" width="97" border="0"></td>
      <td align="middle"><img height="86" hspace="5" src="0.gif" width="97" border="0"></td>
      <td align="middle"><img height="86" hspace="5" src="0.gif" width="97" border="0"></td>
      <td align="middle"><img height="86" hspace="5" src="0.gif" width="97" border="0"></td>
    </tr>
    <tr>
      <td align="middle">□□□□□</td>
      <td align="middle">□□□□□</td>
      <td align="middle">□□□□□</td>
      <td align="middle">□□□□□</td>
      <td align="middle">□□□□□</td>
    </tr>
</table>